<div class="landding-page-container">
  <div class="landing-page-content">
    <div class="landing-page-header">
      <h1>{{ 'learnerDashboard.welcome' | translate }} {{ fullName() }}! 👋</h1>
      <p>{{ 'learnerDashboard.subtitle' | translate }}</p>
    </div>
    <div class="landing-page-actions">
      <p-button
        styleClass="action-btn"
        [label]="'learnerDashboard.ExploreBtn' | translate"
        [routerLink]="['/dashboard/learner/results']"
      >
      </p-button>
    </div>
  </div>
</div>
