<div class="student-card">
  <div class="student-card__item flex align-items-center gap-3 pr-3 border-round-lg">
    <img
      [src]="student().avatar"
      [alt]="student().name"
      class="student()s-card__avatar border-round-lg"
    />

    <div class="flex-1 flex flex-column gap-1">
      <h4 class="m-0 text-lg font-bold">{{ student().name }}</h4>
      <div class="flex align-items-center gap-2 text-sm text-color-secondary">
        <span>Class rank: {{ student().classRank }}</span>
        <span>|</span>
        <span>Average score: {{ student().averageScore }}%</span>
      </div>
    </div>

    <a
      [routerLink]="[studentLink(), student().id]"
      class="student-card___open-link flex align-items-center gap-2 text-sm font-bold no-underline"
    >
      <i class="pi pi-arrow-right student-card__open-icon"></i>
    </a>
  </div>
</div>
