<p-dialog
  [visible]="visible()"
  (visibleChange)="visibleChange.emit($event)"
  [modal]="true"
  [showHeader]="false"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  styleClass="delete-confirm-dialog"
>
  <div class="delete-confirm-header flex align-items-center justify-content-between">
    <span class="delete-confirm-title">{{ config().title }}</span>
    <div class="flex align-items-stretch icon-btn-border">
      <button type="button" class="icon-btn" (click)="onConfirm()" aria-label="Confirm">
        <i class="pi pi-check"></i>
      </button>
      <button type="button" class="icon-btn" (click)="onCancel()" aria-label="Close">
        <i class="pi pi-times"></i>
      </button>
    </div>
  </div>

  <div
    class="delete-confirm-body text-center flex flex-column align-items-center justify-content-center"
  >
    <img src="/images/delete-icon.png" alt="Delete Warning" class="delete-vector-img" />

    @if (config().confirmMessage) {
      <p class="delete-confirm-message" [innerHTML]="config().confirmMessage"></p>
    }
  </div>
</p-dialog>
