@if (isLoading()) {
  <app-loader></app-loader>
} @else {
  <div class="pt-4">
    <div class="flex flex-column lg:flex-row gap-4 align-items-start">
      <div class="flex gap-3 flex-wrap justify-content-center lg:justify-content-start">
        <!-- set up new quiz -->
        <button
          type="button"
          class="linker-card no-underline cursor-pointer"
          (click)="openAddDialog()"
        >
          <div class="icon-container mb-2">
            <img src="/images/new quiz icon.svg" alt="Quiz Icon" class="card-icon" />
          </div>
          <span class="card-title">{{ 'QUIZZES.SET_UP_NEW' | translate }}</span>
        </button>

        <!--  question bank -->
        <a class="linker-card no-underline cursor-pointer" [routerLink]="['../questions']">
          <div class="icon-container mb-2">
            <img src="/images/question-bank.png" alt="Question Bank" class="card-icon" />
          </div>
          <span class="card-title">{{ 'QUIZZES.QUESTION_BANK' | translate }}</span>
        </a>
      </div>

      <div class="right-column flex flex-column gap-4 flex-1">
        <!--  Upcoming Quizzes Box -->
        <quiz-app-dashboard-widget [title]="upcomingQuizzes().length + '&nbsp; quizzes'">
          <div class="flex flex-column gap-3">
            @for (quiz of upcomingQuizzes(); track quiz._id) {
              <quiz-app-upcoming-quizzes-card [routingLink]="'view-quiz'" [quiz]="quiz"></quiz-app-upcoming-quizzes-card>
            }
          </div>
        </quiz-app-dashboard-widget>

        <!--  Completed Quizzes Box -->
        <quiz-app-completed-quizzes-widget
          [quizzes]="completedQuizzesWithGroupNames()"
        ></quiz-app-completed-quizzes-widget>
      </div>
    </div>
  </div>
}

<p-toast></p-toast>
<quiz-app-add-edit-quiz
  [(visible)]="showDialog"
  [loading]="addEditLoad()"
  [quizToEdit]="selectedQuizForEdit()"
  (submitForm)="saveQuiz($event)"
  [groups]="groupsOptions()"
/>
