@use '../../../../../../../../assets/table.scss' as *;

:host ::ng-deep {
  .action-btn.p-button {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    transition: all 0.2s ease;
    color: #fb7c19;
  }

  /* View */
  .view-btn,.edit-btn,.delete-btn {
    color: #fb7c19;

    &:hover {
      background: rgba(75, 73, 71, 0.12);
      color: #fb7c19;
    }
  }

  /* Edit */
  // .edit-btn {
  //   color: #1f2937;

  //   &:hover {
  //     background: rgba(31, 41, 55, 0.12);
  //     color: #1f2937;
  //   }
  // }

  /* Delete */
  // .delete-btn {
  //   color: #ef4444;

  //   &:hover {
  //     background: rgba(239, 68, 68, 0.12);
  //     color: #ef4444;
  //   }
  // }
}
