//to change direction icon (>) in arabic to (<)
:host-context([dir='rtl']) ::ng-deep .p-breadcrumb-separator .p-icon {
  transform: rotate(180deg);
}

.quiz-card {
  width: 450px;
  border: 2px solid rgba(0, 0, 0, 0.22);
  border-radius: 16px;
  padding: 8px 24px 24px;
  background: #fff;
}

.quiz-card h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}

.date-row {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.date-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.date-item i {
  font-size: 1.7rem;
  color: #000000;
  font-weight: 700;
}

.info-row {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.22);
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 14px;
}

.info-row .label {
  width: 55%;
  background: #fff2e8;
  padding: 12px 16px;
  font-weight: 700;
  border-radius: 0 12px 12px 0;
}

.info-row span:last-child {
  flex: 1;
  padding: 12px 16px;
  font-weight: 700;
}

.description {
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 18px;
}

.description .title {
  background: #fff2e8;
  padding: 14px 18px;
  font-weight: 700;
}

.description p {
  padding: 18px;
  min-height: 120px;
  font-weight: 400;
}

:host ::ng-deep button.edit-btn {
  background-color: #0d1321 !important;
  border-color: #0d1321 !important;
  color: #fff !important;
}

:host ::ng-deep button.edit-btn:hover {
  background: #1b2233 !important;
  border-color: #1b2233 !important;
}
:host ::ng-deep .edit-btn,
:host ::ng-deep .delete-btn {
  min-width: 110px;
  justify-content: center;
}

:host ::ng-deep .edit-btn .p-button-label,
:host ::ng-deep .delete-btn .p-button-label {
  font-weight: 700;
}
